html {
    background-color: #f0f0f0;
    font-family: system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#Content {
    display: flex;
    flex-direction: column;
}

#Headerbar {
    font-size: large;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid #c3c3c3;
}

#ExitButton {
   background: #ffebeb;
   border: solid #b0a2a2;
}

#ExitButton:hover {
    background: #fff6f6;
}

#MainCard {
    display: flex;
    flex-direction: column;
}

#IOCard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#SourceCard {
    width: 45%;
}

#TargetCard {
    width: 45%;
}

.BrowseSelectCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.BrowseButton {
    margin-bottom: 8%;
}

#CopyButton {
    margin-top: 10%;
}

.CardTitle {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#CopyButton {
    background: #36b362;
    border: solid #1d5230;
}

#CopyButton:hover {
    background: #67cf8b;
}

button, select {
    border-radius: 4px;
    padding: 2%;
}