body {
    background: #ededed;
    font-family: "Tahoma", "Ubuntu", "Carlito";
    margin: 0;
    padding: 0;
    user-select: none;
}

#content {
    height: 100vh;
    width: 100vw;
}

#Headerbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    transition: all .3s;
    box-shadow: 6px 6px 12px #c5c5c5,
        -6px -6px 12px #ffffff;
}

#Title {
    margin: 10px;
    font-size: larger;
}

#ExitButton {
    background: #ffc8c8;
    border: #ffe8e8;
    margin: 10px;
}


.FlexContainer {
    display: flex;
    flex-direction: column;
}

.FlexContainer>* {
    margin: 5px;
}

#IOCard>* {
    margin: 50px;
}

#Guide {
    align-self: center;
    font-size: 26px;
    margin-top: 50px;
}

#MainCard {
    margin: 50px;
    border-radius: 8px;
    background: #e0e0e0;
    box-shadow: 20px 20px 60px #bebebe,
        -20px -20px 60px #ffffff;
}

#IOCard {
    flex-direction: row;
    align-self: center;
    margin: 50px;
    border-radius: 8px;
    background: #e0e0e0;
    box-shadow: inset 5px 5px 10px #b1b1b1,
        inset -5px -5px 10px #ffffff;
}

#SourceCard {}

#TargetCard {}

#CopyButton {
    align-self: center;
    width: 150px;
    margin-bottom: 50px;
    background: #e8e8e0;
}

button {
    color: #090909;
    padding: 0.7em 1.7em;
    border-radius: 0.5em;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    transition: all .3s;
    box-shadow: 6px 6px 12px #c5c5c5,
        -6px -6px 12px #ffffff;
}

button:hover {
    border: 1px solid white;
}

button:active {
    box-shadow: 4px 4px 12px #c5c5c5,
        -4px -4px 12px #ffffff;
}

select {
    color: #090909;
    padding: 0.7em 1.7em;
    border-radius: 0.5em;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    transition: all .3s;
    box-shadow: 6px 6px 12px #c5c5c5,
        -6px -6px 12px #ffffff;
}

select:hover {
    border: 1px solid white;
}

select:active {
    box-shadow: 4px 4px 12px #c5c5c5,
        -4px -4px 12px #ffffff;
}